:root {
  --header-height: 3rem;
  --hue-color: 250;
  --first-color: #4f00e4;
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 70%, 96%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --body-font: "Poppins", sans-serif;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.25rem;
  --h2-font-size: 1.125rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-0-1: 1rem;
  --mb-0-1-5: 1.5rem;
  --mb-0-2: 2rem;
  --mb-0-2-5: 2.5rem;
  --mb-0-3: 3rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
@media (max-width: 960px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
::selection {
  color: white;
  background-color: var(--first-color);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt);
}
.section {
  padding: 1.5rem 0 4rem;
}
.section-title {
  font-size: var(--h1-font-size);
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-3);
}
.section-title,
.section-subtitle {
  text-align: center;
}
.container {
  max-width: 768px;
  margin-left: var(--mb-0-1-5);
  margin-right: var(--mb-0-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.head {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav {
  max-width: 986px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-logo:hover {
  color: var(--first-color);
}
.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--first-color);
}
@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
  .nav-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--first-color);
}
.nav-icon {
  font-size: 1.2rem;
}
.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav-close:hover {
  color: var(--first-color-alt);
}
.show-menu {
  bottom: 0;
}
.a-img {
  color: var(--title-color);
  font-size: 30px;
  transition: 0.3s;
}
.a-img:hover {
  color: var(--first-color);
}
/* Change Header Color */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
.active-link {
  color: var(--first-color);
}
/* Scroll To Top */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  opacity: 0.8;
  transition: 0.4s;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  background-color: var(--first-color);
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup-icon {
  color: #fff;
  font-size: 1.5rem;
}
.show-scroll {
  bottom: 5rem;
}
/* Start Home */
.home-container {
  gap: 1rem;
}
.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home-social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
  transition: 0.3s;
}
.home-social-icon:hover {
  color: var(--first-color-alt);
}
.a-img {
  width: 35px;
  height: 35px;
}
.home-blob {
  width: 215px;
  fill: var(--first-color);
  position: relative;
}
.home-blob-img {
  width: 102px;
  animation: up-down 2s infinite linear;
}

.home-date {
  grid-column: 1/3;
}
.home-title {
  font-size: var(--big-font-size);
}
.home-subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home-desc {
  margin-bottom: var(--mb-0-2);
}
.home-scroll {
  display: none;
}
.home-scroll-button {
  color: var(--first-color);
  transition: 0.3s;
  cursor: pointer;
}
.home-scroll-button:hover {
  transform: translateY(0.25rem);
}
.home-scroll-mouse {
  font-size: 2rem;
}
.home-scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  display: flex;
  align-items: center;
}
.home-scroll-arrow {
  font-size: 1.25rem;
}
/* Buttons */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
.button--small {
  padding: 0.75rem 1rem;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
  margin-bottom: 5px;
}
.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}
.button--white {
  background-color: #fff;
  color: var(--first-color);
}
.button--white:hover {
  background-color: #fff;
}
.before-s {
  position: relative;
}
.m-st {
  text-transform: uppercase;
  margin: 0 auto 10px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.m-st::before {
  left: -30px;
}
.m-st::after {
  right: -30px;
}
.m-st::before,
.m-st::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.m-st:hover::before {
  z-index: -1;
  animation: left-move 0.6s linear forwards;
}
.m-st:hover::after {
  z-index: -1;
  animation: right-move 0.6s linear forwards;
}
.m-st:hover {
  color: #fff;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* End Home */
/* Start Animation */
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes up-down {
  50% {
    /* transform: scale(1.19); */
    y: 55;
  }
}
/* End Animation */
.about-img {
  background-color: var(--first-color);
  padding: 5px;
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}
.about-desc {
  text-align: center;
  margin-bottom: var(--mb-0-2-5);
}
.about-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-0-2-5);
}
.about-info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.about-info-name {
  font-size: var(--smaller-font-size);
}
.about-info-title,
.about-info-name {
  display: block;
  text-align: center;
}
.about-buttons {
  display: flex;
  justify-content: center;
}
/* Start Skills */
/* .skills.dis2 {
  display: block;
}
.skills {
  display: none;
} */
.skills-container {
  row-gap: 0;
}
.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-0-2-5);
  cursor: pointer;
}
.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: var(--first-color);
}
.skills-icon {
  margin-right: var(--mb-0-75);
}
.skills-title {
  font-size: var(--h3-font-size);
}
.skills-subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.skills-arrow {
  margin-left: auto;
  transition: 0.3s;
}
.skills-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skills-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills-bar,
.skills-precentage {
  height: 5px;
  border-radius: 0.25rem;
}
.skills-bar {
  background-color: var(--first-color-lighter);
}
.skills-precentage {
  display: block;
  background-color: var(--first-color);
}
.skills-html {
  width: 80%;
}
.skills-css {
  width: 70%;
}
.skills-js {
  width: 60%;
}
.skills-react {
  width: 75%;
}
.skills-photoshop {
  width: 80%;
}
.skills-sketchable {
  width: 70%;
}
.skills-xd {
  width: 60%;
}
.skills-illustrator {
  width: 75%;
}
.skills-figma {
  width: 75%;
}
.skills-sketch {
  width: 70%;
}
.skills-close .skills-list {
  height: 0;
  overflow: hidden;
}
.skills-open .skills-list {
  height: max-content;
  margin-bottom: var(--mb-0-2-5);
}
.skills-open .skills-arrow {
  transform: rotate(-180deg);
}
/* End Skills */
/* Start Services */
.services .services-container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.services-container .services-content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.services-icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-0-1);
}
.services-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-1);
  font-weight: var(--font-medium);
}
.services-button {
  cursor: pointer;
  font-size: var(--small-font-size);
}
.services-button:hover .button-icon {
  transform: translateX(0.25rem);
}
.services-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.services-modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.services-modal-services {
  row-gap: 1rem;
}
.services-modal-service {
  display: flex;
}
.services-modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-1-5);
}
.services-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}
.services-modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}
.active-modal {
  opacity: 1;
  visibility: visible;
}
/* End Services */
/* Start Portfolio */
.protfolio-container {
  overflow: initial;
}
.protfolio-content {
  padding: 0 1.5rem;
}
.protfolio-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}
.protfolio-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.protfolio-desc {
  margin-bottom: var(--mb-0-75);
}
.protfolio-button:hover .button-icon {
  transform: translateX(0.25rem);
}
.swiper-button-next {
  display: none;
}
.swiper-button-prev {
  display: none;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}
.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}
.swiper-button-prev {
  left: -0.5rem;
}
.swiper-button-next {
  right: -0.5rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}
.swiper-pagination-bullet-active {
  background-color: var(--first-color) !important;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
  outline: none;
}
/* End Portfolio */
/* Start Project In Mind */
.project {
  text-align: center;
}
.project-bg {
  background-color: var(--first-color-second);
  padding-top: 3rem;
}
.project-title {
  font-size: var(--h2-font-size);
}
.project-desc {
  margin-bottom: var(--mb-0-1-5);
}
.project-title,
.project-desc {
  color: #fff;
}
.project-img {
  width: 232px;
  justify-self: center;
}
/* End Project In Mind */
/* Start Contact Me */
.contact-container {
  row-gap: 3rem;
}
.contact-info {
  display: flex;
  margin-bottom: var(--mb-0-2);
}
.contact-icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}
.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact-subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.contact-content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}
.contact-label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  caret-color: var(--first-color);
}
.two .txt-ar {
  resize: none;
}
/* End Contact Me */
/* Start Footer */
.footer {
  padding-top: 2rem;
}
.footer-container {
  row-gap: 3.5rem;
}
.footer-bg {
  padding: 2rem 0 3rem;
  background-color: var(--first-color-second);
}
.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer-subtitle {
  font-size: var(--small-font-size);
}
.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footer-link {
  transition: 0.3s;
}
.footer-link:hover {
  color: var(--first-color-lighter);
}
.footer-social {
  font-size: 1.25rem;
  transition: 0.3s;
  margin-right: var(--mb-0-1-5);
}
.footer-social:hover {
  color: var(--first-color-lighter);
}
.footer-copy {
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-0-3);
}
.footer-title,
.footer-subtitle,
.footer-link,
.footer-social {
  color: #fff;
}
.span-fa > a {
  color: #fff;
  font-weight: var(--font-semi-bold);
}
/* End Footer */
/* Dark & Light Mode */
body.dark-theme {
  /* --first-color: #4f00e4; */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
}
.nav-btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-0-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}

/* Responsive */

/* Small Devices */
@media (max-width: 350px) {
  .container {
    margin-left: var(--mb-0-1);
    margin-right: var(--mb-0-1);
  }
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav-list {
    column-gap: 0;
  }
  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home-blob {
    width: 180px;
  }
  .skills-title {
    font-size: var(--normal-font-size);
  }
  .services-container {
    grid-template-columns: max-content !important;
    justify-content: center;
  }
  .services-content {
    padding-right: 3.5rem !important;
  }
  .services-modal {
    padding: 0 0.5rem;
  }
  /* .protfolio-data {
    margin-right: 2px;
  } */
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 153px !important;
    left: 0 !important;
    width: 100% !important;
  }
  .contact-subtitle {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
  }
  .home-content {
    grid-template-columns: 0.25fr 3fr;
    padding-top: 1rem;
  }
}
/* Medium Devices */
@media (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr !important;
  }
  .home-date {
    grid-column: initial;
  }
  .home-blob-img {
    order: 1;
    justify-self: center;
  }
  .contact-info-cont {
    display: block;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .about-container,
  .protfolio .protfolio-content,
  .project-container,
  .contact-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
  }
  .footer-link {
    margin-right: 35px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px !important;
    left: 160px !important;
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section-subtitle {
    margin-bottom: 4rem;
  }
  .head {
    top: 0;
    bottom: initial;
  }
  .head,
  .main,
  .footer-container {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 1rem;
  }
  .nav-menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }
  .home-container {
    row-gap: 5rem;
  }
  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home-blob {
    width: 270px;
  }
  .home-scroll {
    display: block;
    margin: auto;
  }

  .about-container {
    column-gap: 5rem;
  }
  .about-img {
    width: 350px;
  }
  .about-desc {
    text-align: initial;
  }
  .about-info {
    justify-content: space-between;
  }
  .about-buttons {
    justify-content: initial;
  }
  .services-container {
    grid-template-columns: repeat(3, 218px) !important;
    justify-content: center;
  }
  .services-icon {
    font-size: 2rem;
  }
  .services-content {
    padding: 6rem 0 2rem 2.5rem !important;
  }
  .services-modal-content {
    width: 450px;
  }
  .services-modal-services {
    font-size: 1.1rem;
  }
  .protfolio-img {
    width: 320px !important;
  }
  .protfolio-content {
    align-items: center;
  }
  .project {
    text-align: initial;
  }
  .project-bg {
    background: none;
  }
  .project-container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project-data {
    padding-top: 0.8rem;
  }
  .contact-form {
    padding: 0 !important;
  }
  .footer-bg {
    padding: 3rem 0 3.5rem !important;
  }
  .footer-links {
    font-size: 1.2rem;
  }
  .footer-social {
    font-size: 1.2rem;
  }
  .footer-copy {
    margin-top: 4.5rem;
  }
}
/* font-size: 24px;
width: 209px; */

/* Large Devices */

@media (min-width: 1024px) {
  .head,
  .main,
  .footer-container {
    padding: 0 !important;
  }
  .home-blob {
    width: 320px !important;
  }
  .home-social {
    transform: translateX(-6rem);
  }
  .services-container {
    grid-template-columns: repeat(3, 238px) !important;
  }
  .protfolio-content {
    column-gap: 5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px !important;
    left: 179px !important;
    width: 100% !important;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullet {
    bottom: -4.5rem !important;
  }
  .contact-form {
    width: 460px;
  }
  /* .contact-ipnuts .ahmed {
    grid-template-columns: repeat(2, 1fr) !important;
  } */
}
